body {
  font-family: serif;
  line-height: 1.5;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
table {
  width: 30%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table,
th,
td {
  border: 1px solid black;
  padding: 4px 8px;
  text-align: left;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
